.main_loader_div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 33.3vh;
}

@media (max-width: 1550px) {
    .main_loader_div {
        margin-top: 20vh;
        margin-bottom: 23.8vh;
    }
}

.loader {
    width: 120px;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.loader span {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: auto;
}

.ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #5c6193;
    animation: bounce .5s alternate infinite;
}

.ball:nth-child(2) {
    animation-delay: .16s;
}
.ball:nth-child(3) {
    animation-delay: .32s;
}
@keyframes bounce {
    from {
        transform: scaleX(1.25);
    }
    to {
        transform: translateY(-50px) scaleX(1);
    }
}